h1, h2 {
  font-family: 'Cardo', serif;
}

h3, p {
  font-family: 'Roboto', sans-serif;
}

nav {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.navigation-links {
    font-family: 'Cardo', serif;
}

nav .navbar-nav a{
  color: #90ADBB !important;
}

nav .navbar-nav a:hover{
  color: black !important;
}

.nav-link.active {
    color:black !important;
}

.heroimage-sectioning {
  height: 92vh;
  position: relative;
}

.page-sectioning {
  height: 90vh;
  position: relative;
  padding-top: 55px;
}

.homepage-centering-div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.aboutme-section {
  background-image: url("../images/plant1.png");
  background-repeat: no-repeat;
}

#myface {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 50%;
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(0.7);
    }

    to {
        transform: scale(1);
    }
}

.aboutme-btn {
  border: none;
  background-color: white;
}

.aboutme-btn:hover {
  color: rgb(144, 173, 187, 0.3)
}

.aboutme-activelink {
  color: rgb(144, 173, 187, 0.3)
}

.aboutme-nonactivelink {
  color: #90ADBB;
}

.aboutme-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

#biography-container, #myhobbies-container {
  width: 65%;
  display: flex;
  align-items: center;
  margin: auto;
}

.hide {
  display: none !important;
}